{% extends 'base.html' %}

{% block content %}

<div class="about-company-wrapper">
  <div class = "about-company-inside">
    <p class = "about-company-text">
      Добро пожаловать на OnlyOnce — онлайн-площадку для модных людей, которые ценят экологичность и качество. Наш интернет-магазин предлагает уникальную платформу, позволяющую покупать и продавать одежду, обувь и аксессуары, которые были надеты только один раз.
    </p>
    <p class = "about-company-text">
      Мы понимаем важность сокращения отходов и продвижения циркулярной экономики, поэтому мы создали пространство, где вы можете приобрести аккуратно использованные, высококачественные вещи, подлинность и состояние которых были проверены.
    </p>
    <p class = "about-company-text">
      Если вы ищете платье для особого случая, новую пару обуви или идеальный аксессуар для завершения вашего наряда, вы найдете всё это на OnlyOnce.
    </p>
    <p class = "about-company-text">
      Присоединяйтесь к нашему сообществу сегодня и начните делать покупки! 
    </p>
    <p class = "about-company-text">
      Покупайте только один раз, носите часто и помогите нам создать более экологичное будущее для любителей моды во всем мире.
    </p>
  </div>
</div>

{% endblock %}