{% extends 'base.html' %}

{% block content %}

<div class="customers-wrapper">
  <div class = "customers-inside">
    <p class = "customer-text">
      Выберите товары и добавьте их в корзину.
    </p>
    <p class = "customer-text">
      Перейдите в раздел «Корзина», выберите способ доставки и нажмите Перейти к оформлению.
    </p>
    <p class = "customer-text">
      Укажите ваши данные. Если вы не авторизованы, авторизуйтесь с помощью адреса электронной почты.
    </p>
    <p class = "customer-text">
      Укажите адрес доставки.
    </p>
    <p class = "customer-text">
      Выберите способ оплаты и нажмите «Оплатить онлайн».
    </p>
    <p class = "customer-text">Оплатите заказ.
    </p>
  </div>
</div>

{% endblock %}