{% extends "base.html" %}

{% block content %}

<div class="form-wrapper">
  <div class="form">
    <h1>Вход в личный кабинет</h1>
    <form method='POST' action="" class='login' novalidate>
      <p class = "username">
        {{ form.username.label }} <br>
        {{ form.username(class_ = "password-username", size=20) }}
      </p>
      <p class = "password">
        {{ form.password.label }} <br>
        {{ form.password(class_ = "password-field", size=20) }}
      </p>
      <p>{{ form.remember() }} {{ form.remember.label }}</p>
      <p class = "submit">
          {{ form.submit(class_ = "submit-button") }}
      </p>
    </form>
  </div>
</div>

{% endblock %}